@{
    ViewData["Title"] = "Lost in the Woods";
}
<div class="panel panel-default">
    <div class="panel-heading">
        <h1>Lost in the Woods</h1>
    </div>
    <div class="panel-body">
        <h4>List of local hiking trails</h4>
    </div>
</div>

<table class="table">
    <thead>
        <th>Trail Name</th>
        <th>Trail Length</th>
        <th>Elevation Change</th>
    </thead>
    <tbody>
        @{
            foreach(var trail in ViewBag.AllTrails) {
                <tr>
                    <td><a href="/Trail/@trail.Id">@trail.Name</a></td>
                    <td>@trail.Length Miles</td>
                    <td>@trail.Elevation feet</td>
                </tr>
            }
        }
    </tbody>
</table>

<button><a href="/NewTrail">Add a New Trail</a></button>