@{
    ViewData["Title"] = @ViewBag.TrailName;
}

<a href="/">Go Home</a>

@{
    foreach(var each in ViewBag.Trail) {
        <h1>each.Name</h1>
        <h3>Description:</h3>
        <p>each.Description</p>
        <h3>Trail Length:</h3>
        <p>each.Length</p>
        <h3>Elevation Change:</h3>
        <p>each.Elevation</p>
        <p>Longitude - each.Longitude</p>
        <p>Latitude - each.Latitude</p>
    }
}

