@{
    ViewData["Title"] = "Dashboard";
}

<h1>Welcome to the Wedding Planner</h1>
<a href="Logout">Logout</a>

<table>
    <thead>
        <th>Wedding</th>
        <th>Date</th>
        <th>Guest</th>
        <th>Action</th>
    </thead>
    <tbody>
        @{
            @foreach(var wedding in ViewBag.AllWeddings) {
                <tr>
                    <td>@wedding.Groom & @wedding.Bride</td>
                    <td>@wedding.WeddingDate.ToString("MMM dd yyyy")</td>
                    <td>Number of Guests</td>
                    @if(){
                        <td><a href="Delete">Delete</a></td>
                    } else if () {
                        <td><a href="Decline">Decline Invite</a></td>
                    } else {
                        <td><a href="RSVP">RSVP</a></td>
                    }
                </tr>
            }
        }
    </tbody>
</table>

<a href="NewWedding">New Wedding</a>