@{
    ViewData["Title"] = "Home Page";
}

@model login.Models.User
<div class="row">
    <div class="one-half column">
        <h1>Registration</h1>
        <form asp-controller="User" asp-action="Register" method="POST">
            <span asp-validation-for="FirstName"></span><label asp-for="FirstName"></label><input asp-for="FirstName"/><br>
            <span asp-validation-for="LastName"></span><label asp-for="LastName"></label><input asp-for="LastName"/><br>
            <span asp-validation-for="Email"></span><label asp-for="Email"></label><input asp-for="Email"/><br>
            <span asp-validation-for="Password"></span><label asp-for="Password"></label><input asp-for="Password"/><br>
            <span asp-validation-for="Confirm"></span><label asp-for="Confirm"></label><input asp-for="Confirm"/><br>
            <input type="submit" value="Register">
        </form>
    </div>
    <div class="one-half column">
        <h1>Login</h1>
        <form action="login" method="POST">
            <label for="Email">Email: </label><input name="Email" type="text">
            <label for="Password">Password: </label><input name="Password" type="text"><br>
            <input type="submit" value="Login">
        </form>
    </div>
</div>