@{
    ViewData["Title"] = "Dojo League - Ninjas";
}

@model dojoleague.Models.Ninja
<div class="six columns">
    <h1>Registered Ninjas</h1>
    <table>
        <thead>
            <td>Ninja Name</td>
            <td>Home Dojo</td>
        </thead>
        <tbody>
            @{
                foreach(var item in ViewBag.AllNinjas) {
                <tr>
                    <td><a href="/Ninjas/@item.Ninja.Id">@item.Ninja.Name</a></td>
                    <td><a href="/Dojos/@item.Dojo.Id">@item.Dojo.Name</a></td>
                </tr>
                }
            }
        </tbody>
    </table>
</div>

<div class="six columns">
    <h1>Register A Ninja</h1>
    <form asp-controller="Ninja" asp-action="AddNinja" method="POST">
        <span asp-validation-for="Name"></span>
        <label asp-for="Name"></label><input asp-for="Name"><br>
        <span asp-validation-for="Level"></span>
        <label asp-for="Level"></label><input asp-for="Level"><br>
        <label asp-for="dojo"></label><select name="dojo_id">
            <option>Rogue</option>
            @{
                foreach(var dojo in ViewBag.AllDojos) {
                    <option value="@dojo.id">@dojo.Name</option>
                }
            }
        </select>
        <span asp-validation-for="Description"></span>
        <label asp-for="Description"></label><input asp-for="Description"><br>
        <input type="submit" value="Add">
    </form>
</div>