@{
    ViewData["Title"] = "Dojo League - Ninjas";
}

<a href="/Dojos">Go to Dojos</a>

@model dojoleague.Models.Ninja
<div class="five columns">
    <h1>Registered Ninjas</h1>
    <table>
        <thead>
            <td>Ninja Name</td>
            <td>Home Dojo</td>
        </thead>
        <tbody>
            @{
                foreach(var item in ViewBag.AllNinjas) {
                <tr>
                    <td><a href="/Ninjas/@item.Id">@item.Name</a></td>
                    @if(@item.dojo.Id == 1) {
                        <td>Rogue</td>
                    }
                    else{
                    <td><a href="/Dojos/@item.dojo.Id">@item.dojo.Name</a></td>
                    }
                </tr>
                }
            }
        </tbody>
    </table>
</div>

<div class="five columns">
    <h1>Register A Ninja</h1>
    <form asp-controller="Ninja" asp-action="AddNinja" method="POST">
        <span asp-validation-for="Name"></span>
        <label asp-for="Name"></label><input asp-for="Name"><br>
        <span asp-validation-for="Level"></span>
        <label asp-for="Level"></label><input asp-for="Level"><br>
        <label asp-for="dojo"></label><select type="number" name="dojo_id">
            <option value="1">Rogue</option>
            @{
                foreach(var dojo in ViewBag.AllDojos) {
                    if(dojo.Id != 1) {
                        <option value="@dojo.Id">@dojo.Name</option>
                    }
                }
            }
        </select>
        <span asp-validation-for="Description"></span>
        <label asp-for="Description"></label><input asp-for="Description"><br>
        <input type="submit" value="Add">
    </form>
</div>